extends html_template.pug 

block content 
    br
    .row
        h3.col.text-center ADD PHOTOS TO EXISTING COLLECTION
    br
    form.row.overFlowingRowRight(action="/photo/" + collectionID, method="post" enctype="multipart/form-data")
        .col-md-9
            input.form-control.custom-card#collectionName(type="file", name="photos" required multiple)
        input.btn.btn-outline-secondary.del-btn.col-md-3(type='submit', value="ADD")
