extends html_template.pug 

block content 
    br
    .row
        h3.col.text-center CREATE PHOTOS COLLECTION
    br
    form.row.overFlowingRowRight(action="/add-collection", method="post")
        .col-md-9
            input.form-control.custom-card#collectionName(type="text", name="collection_name" placeholder="Collection name", required)
        input.btn.btn-outline-success.del-btn.col-md-3(type="submit", value="CREATE")