extends html_template.pug

block logged_content
    if collectionData.length > 0
        #carouselExampleIndicators.carousel.slide(data-bs-ride='carousel')
            .carousel-indicators
                button.active(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='0' aria-current='true' aria-label='Slide 1')
                button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='1' aria-label='Slide 2')
                button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='2' aria-label='Slide 3')
            .carousel-inner
                each photo, index in collectionData
                    if index == 0
                        .carousel-item.active
                            img.d-block.w-100(src=photo.photoPath height="400" width="400")
                    else
                        .carousel-item
                            img.d-block.w-100(src=photo.photoPath height="400" width="400")
            button.carousel-control-prev(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide='prev')
                span.carousel-control-prev-icon(aria-hidden='true')
                span.visually-hidden Previous
            button.carousel-control-next(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide='next')
                span.carousel-control-next-icon(aria-hidden='true')
                span.visually-hidden Next

    else 
        a(href="/add-photo/" + id) DODAJ ZDJĘCIA DO KOLEKCJI