extends html_template.pug 

block content 
    form(action="/auth/register", method="post") 
        input#username(type="text", name="username")
        input#password(type="password", name="password")
        input(type="submit", value="REGISTER")